

.btn {
    @include transition(all, $quick-transition, ease-out);
    border-radius: $big-button-radius;

    &,
    &:active,
    &.active {
    &:focus,
    &.focus {
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1),0px 6px 14px rgba(0, 0, 0, 0.18);
    }
  }

    &:hover,
    &:focus,
    &.focus {
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1),0px 6px 14px rgba(0, 0, 0, 0.18);
  }
}

.btn-lg {
    @include button-size($padding-large-vertical, $btn-padding-lg-horizontal, $font-size-large, $line-height-large, $big-button-radius);
}

.btn-with-spacing {
    margin-top: $normal-spacing;
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}

.btn-primary-outline {
    @extend .btn-with-spacing;
    @include button-outline($secondary-color, $inverted-color, fade-out($secondary-color, 1), $secondary-color);
}
.btn-yellow-outline {
    @extend .btn-with-spacing;
    @include button-outline($dirty-yellow, $inverted-color, fade-out($dirty-yellow, 1), $dirty-yellow);
}
.btn-inverted-outline {
    @extend .btn-with-spacing;
    @include button-outline($inverted-muted-color, $inverted-muted-color, fade-out($inverted-muted-color, 1), $inverted-muted-color);
}

.btn-app-store {
    @extend .btn-default;
    font-family: Helvetica, sans-serif;

    padding: 1.25rem 3.25rem 1.25rem 2.5rem;

    .btn-icon {
        @extend .icon-large;
        display: inline-block;
        float: left;
        margin-top: 0.5rem;
    }

    p {
        margin-left: 4.5rem;
        margin-bottom: 0;
        font-size: 1.75rem;
    }
    span {
        text-align: left;
        display: block;
        text-transform: uppercase;

        &:first-child {
            opacity: 1;
            font-weight: 100;
            font-size: 1.4rem;
        }
        &:last-child {
            font-size: 1.335rem;
            font-weight: 800;
        }
    }
}

.btn-app-store-primary {
    @extend .btn-app-store;
    @extend .btn-primary;
}

.btn-app-store-dark {
    @extend .btn-app-store;
    @extend .btn-dark;
}
.btn-group {
    margin-top: 6.5rem;
    a {
        margin: 0 3rem;
        @media (max-width: $screen-sm) {
            margin: 0;
        }
    }
}
.store-btn {
    width: 23.4rem;
    height: 6.6rem;
    background-size: contain;
    display: inline-block;
}
.app-store-red {
    @extend .store-btn;
    background: url(../images/homepage/app-store-red.png) no-repeat;
}
.google-store-red {
    @extend .store-btn;
    background: url(../images/homepage/google_store_red.png) no-repeat;
}
.app-store-black {
    @extend .store-btn;
    background: url(../images/homepage/app-store-black.png) no-repeat;
}
.google-store-black {
    @extend .store-btn;
    background: url(../images/homepage/google-store-black.png) no-repeat;
}
