


.navigation {
    @extend .list-unstyled;
}


.navbar {
    min-height: $navbar-medium-height;
    padding-top: $small-spacing;
    z-index:1;
}

.navbar-brand {
    @extend .text-bold;
    @extend .text-italic;
    font-size: 2rem;
    font-weight: 400;
    height: $navbar-medium-height;
    line-height: $navbar-medium-height/2 + 0.5;

    @media only screen and (min-width: $screen-sm) {
        font-size: 2.5rem;
    }

    img {
        display: inline-block;
        max-height: 3.5rem;
        margin-right: $small-spacing;
        @include transition(all, $quick-transition, ease-out);

        @media only screen and (min-width: $screen-sm) {
            max-height: 4.5rem;
        }
    }
}

.navbar-nav > li > a {
    line-height: $navbar-medium-height/2 + 1;
}


.navbar-inverse {

    .navbar-brand {
        color: $inverted-color;

        @include on-event {
            color: darken($inverted-color, 10%);
        }

        &:hover > img {
            opacity: 0.75;
        }
    }

    .navbar-nav > li > a {
        color: $inverted-color;
        opacity: 0.6;

        @include on-event {
            color: $inverted-color;
            opacity: 1;
        }
    }

    .navbar-toggle {
        border-color: transparent;
        margin-top: 18px;

        &:hover, &:focus, &:active {
            background: darken($blue, 15%);
        }
    }

    .navbar-collapse {
        background: darken($blue, 15%);
        border: none;
        @media only screen and (min-width: $screen-sm) {
            background: transparent;
        }
    }

}

// Transparent navbar

.navbar-transparent {
    background: transparent;
    border: none;

}




// 3. Footer navigation
.footer-navigation {
    @extend .navigation;
    margin: 0;

    @media only screen and (min-width: $screen-sm) {
        text-align: right;
    }

    > li {
        display: block;

        @media only screen and (min-width: $screen-sm) {
            display: inline-block;
        }

        &:last-child a {
            margin-right: 0;
        }
    }

    a {
        color: fade-out($inverted-muted-color, 0.25);
        margin-right: $normal-spacing;

        @include on-event {
            color: $inverted-color;
        }
    }
}
