

.header-title-row {
    @extend .row;
    padding-bottom: 4rem;

    @media only screen and (min-width: $screen-sm) {
        padding-bottom: 6.5rem;
    }
}

.header-info-row {
    @extend .row;
    margin-top: $medium-spacing;
}

.row-with-space {
    @extend .row;
    position: relative;
    margin-bottom: $extra-large-spacing;
}
