<!DOCTYPE html>
<html>
  {% include shared/head.html %}
  <body>
    {% include shared/symbols.html %}
    {% include shared/nav.html %}
    <main class="homepage">
      {% include homepage/homepage_header.html %}
      {% include homepage/homepage_what_is.html %}
      {% include homepage/homepage_how-it-works.html %}
      {% include homepage/homepage_business.html %}
      {% include homepage/homepage_benefits.html %}
      {% include homepage/homepage_connect.html %}
    </main>
    {% include homepage/homepage_footer.html %}
    {% include shared/footer-scripts.html %}
  </body>
</html>
