<!DOCTYPE html>
<html>
  {% include shared/head.html %}
  <body>
    {% include shared/nav.html %}
    {% include modules/landing__header.html %}
    <main>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2>How it works</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <h3>Download PocketFlip</h3>
              <img src="#" alt="" />
              <p>Simple description of the thingy</p>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h3>Collect Coins</h3>
              <img src="#" alt="" />
              <p>Simple description of the thingy</p>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h3>Get your free reward</h3>
              <img src="#" alt="" />
              <p>Simple description of the thingy</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <a href="#" class="btn btn-app-store"><span>Download from</span> <span>Apple App Store</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="section-light-gray">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h2>User PocketFlip Business</h2>
              <p class="lead">Engage your most loyal and enthusiastic users through PocketFlip’s innovative engagement platform.</p>
              <a href="#" class="btn btn-primary btn-lg">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include shared/footer.html %}
    {% include shared/footer-scripts.html %}
  </body>
</html>
