<main>
  <div class="section how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>{{ page.how-section[0].title }}</h2>
        </div>
      </div>
      <!-- Row with feature stuff -->
      <div class="row">
        {% for feature in page.how-section[1].features %}
          <div class="col-xs-12 col-sm-4 feature-box">
            <img class="img-responsive" src="{{ feature.img }}" alt="{{ feature.title }} image" />
            <h4>{{ feature.title }}</h4>
              {% if feature.content %}
                <p>{{ feature.content }}</p>
              {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="{{ page.app-store-url }}" class="btn btn-app-store-dark">
            <svg class="btn-icon">
              <use xlink:href="#apple-logo"></use>
            </svg>
            <p class="btn-text">
              <span>Download from</span> <span>Apple App Store</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Section for Business -->
  <div class="section-light-gray business">
    <div class="container">
      <div class="row-with-space">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <h2>{{ page.business-section[0].title }}</h2>
          <p class="lead text-muted">{{ page.business-section[0].lead }}</p>
          <a href="{{ page.contact-url }}" class="btn btn-lg btn-primary-outline">Contact us</a>
        </div>
        <div class="business-image">
          <img src="images/business-bg.png" alt="PocketFlip business iphone image" />
        </div>
      </div>
      <div class="row text-muted">
        {% for feature in page.business-section[1].features %}
          <div class="col-xs-12 col-sm-4 col-lg-4 feature-box">
            <h5>
              <span class="content-icon">
                  <svg class="icon-large">
                    <use xlink:href="{{ feature.img }}"></use>
                  </svg>
              </span>{{ feature.title }}</h5>
            <p>{{ feature.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Section for connect -->
  <div class="section-dark-gray connect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-5">
          <h2>{{ page.connect-section[0].title }}</h2>
          <p class="lead">{{ page.connect-section[0].lead }}</p>
          <p>{{ page.connect-section[0].content }}</p>
          <a href="{{ page.contact-url }}" class="btn btn-lg btn-inverted-outline">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</main>
