<div class="section how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>{{ page.how-section[0].title }}</h2>
      </div>
    </div>
    <!-- Row with feature stuff -->
    <div class="row">
      {% for feature in page.how-section[1].features %}
        <div class="col-xs-12 col-md-3 col-sm-6 homepage-feature-box">
          <img class="img-responsive" src="{{ feature.img }}" alt="{{ feature.title }} image" />
          <h4>{{ feature.title }}</h4>
            {% if feature.content %}
              <p>{{ feature.content }}</p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="text-center">
      <div class="btn-group text-center">
        <a href="{{ page.google-store-url }}" class="google-store-black"></a>
        <a href="{{ page.app-store-url }}" class="app-store-black"></a>
      </div>
    </div>
  </div>
</div>
