<div class="section what-is">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>{{ page.what-is-section[0].header }}</h2>
      </div>
    </div>
    <!-- Row with feature stuff -->
    <div class="row">
        <div class="col-xs-12 col-md-10 col-sm-12 col-md-offset-1 v-center">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <p>{{ page.what-is-section[1].lead }}</p>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12 text-center">
            <img class="img-responsive" src="{{site.baseurl}}/{{ page.what-is-section[2]/img }}" alt="{{ feature.title }} image" />
          </div>
        </div>
    </div>
  </div>
</div>
