<header class="homepage-header">
  <div class="container">
    <!-- Header title -->
    <div class="header-title-row">
      <div class="col-xs-12 text-center">
        <h1>{{ page.header[0].title }}</h1>
        <h2>{{ page.header[1].subtitle }}</h2>
        <div class="btn-group">
          <a href="{{ page.app-store-url }}" class="app-store-red">
          </a>
          <a href="{{ page.google-store-url }}" class="google-store-red">
          </a>
        </div>
      </div>
    </div>
</header>
