

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-style: italic;
}

h1 {
    font-size: $headline-1-size;
    line-height: $headline-1-line-height;
}

h2 {
    font-size: $headline-2-size;
    line-height: $headline-2-line-height;
}

h3 {
    font-size: $headline-3-size;
    line-height: $headline-3-line-height;
}

h4 {
    font-size: $headline-4-size;
    line-height: $headline-4-line-height;
}

h5 {
    font-size: $headline-5-size;
    line-height: $headline-5-line-height;
}

h6 {
    font-size: $headline-6-size;
    line-height: $headline-6-line-height;
}
