.homepage {
    p {
        font-size: 1.8rem;
    }
    .v-center {
        display: block;
        @media only screen and (min-width: $screen-sm) {
            display: table;
        }

        & > * {
            display: block;
            @media only screen and (min-width: $screen-sm) {
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
        }
    }
}

// Homepage header
.homepage-header {
    background-color: $blue-background;
    background: url('../images/homepage/header_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: $extra-large-spacing + 6;
    padding-bottom: $extra-large-spacing + 3;
    color: $inverted-color;
    @media (max-width: $screen-sm) {
        padding: $large-spacing 0;
    }
    h1 {
        margin-bottom: 2.5rem;

        @media only screen and (min-width: $screen-sm) {
            font-size: 5.75rem;
        }

        @media only screen and (min-width: $screen-md) {
            font-size: 8.5rem;
        }
    }
    h2  {
        font-size: 3.4rem;
        font-weight: normal;
        @media (max-width: $screen-sm) {
            font-size: 2.3rem;
            line-height: 1;
        }
    }
}

// What is PocketFlip
    .what-is {
        p {
            font-size: 2rem;
            line-height: 1;
            br {
                line-height: 2.5;
            }
        }
        img {
            display: inline-block;
        }
        .v-center {
            margin-top: 1.8rem;
        }
    }

// How it works section styling
.how-it-works {
    padding-top: $medium-spacing;
    background-color: $white;

    .row:first-child h2 {
        font-size: 4.1rem;
        margin-bottom: 0 !important;
        padding-bottom: $extra-large-spacing + 6;
        @media (max-width: $screen-sm) {
            padding-bottom: $large-spacing;
        }
    }

    .homepage-feature-box {
        @extend .text-center;
        .img-responsive {
            margin: 0 auto;
            max-height: 12.2rem;

            @media only screen and (min-width: $screen-sm) {
                min-height: 17rem;
            }

            @media only screen and (min-width: $screen-md) {
                min-height: 11rem
            }

            @media only screen and (min-width: $screen-lg) {
                max-height: 15.2rem;
            }
        }

        h4 {
            color: $darkish-gray;
            @media only screen and (min-width: $screen-md) {
                padding: 0 3.5rem;
            }

            @media only screen and (min-width: $screen-lg) {
                padding: 0 4.5rem;
            }
        }
    }
}

.benefits {
    background-color: $white;
    h2 + .row {
        margin-top: 9.5rem;
        margin-bottom: 3rem;
    }
    img {
        display: inline-block;
    }
    p {
        font-size: 1.7rem;
        padding: 0 10px;
    }
}

.business {
    h2 {
        font-size: 3.5rem;
    }
    .btn {
        margin-top: 3.5rem;
    }
    img {
        @media (max-width: $screen-sm) {
            margin-top: 2rem;
        }
    }
}

.connect {
    padding-bottom: $large-spacing + 1.5;
    background: $dark-gray; // fallback
    background: url('../images/connect-bg.jpg') no-repeat;
    background-size: cover;
    background-position: 25% 50%;
    h2, p, h4 {
        color: $white;
    }
    h2 {
        font-size: 4.4rem;
    }
    h4 {
        font-size: 2.4rem;
        font-weight: normal;
    }
    .btn {
        margin-top: 3rem;
    }
    @media only screen and (min-width: $screen-sm) {
        background-position: 100% 50%;
        padding: $extra-large-spacing 0 ($extra-large-spacing + 1.5) 0;
    }
}

footer.homepage-footer {
    font-family: $opensans-font-family;
    font-size: 1.5rem;
    padding: 40px 0;
    line-spacing: 0.1rem;
    color: fade-out($inverted-muted-color, 0.25);
    background-color: $footer-gray;
}