<header class="landing-header">
  <div class="container">
    <div class="header-title-row">
      <div class="col-xs-12 text-center">
        <h5>{{site.title}}</h5>
        <h1>Flip Tasks Into Free Rewards</h1>
        <a href="#" class="btn btn-primary btn-lg btn-app-store"><span>Download from</span> <span>Apple App Store</span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="#" alt="IMG" />
        <h3>Bump Your Game</h3>
        <p>Upgrade your base and buy your favorite game. <strong>Be unstopable.</strong></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="#" alt="IMG" />
        <h3>Fulfill your dreams</h3>
        <p>Get gift cards and discounts for your favorite shop. <strong>Sweeeeet!!!!</strong></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="#" alt="IMG" />
        <h3>Amazing Giveaways</h3>
        <p>Win top prizes in our regular giveway. May the <strong>luck be with you.</strong></p>
      </div>
    </div>
  </div>
</header>
