<main>
  <div class="section how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>How it works</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 feature-box">
          <img class="img-responsive" src="../images/download.png" alt="" />
          <h3><span>1.</span> Download PocketFlip</h3>
        </div>
        <div class="col-xs-12 col-sm-4 feature-box">
          <img class="img-responsive" src="../images/coins.png" alt="" />
          <h3><span>2.</span> Collect Coins</h3>
        </div>
        <div class="col-xs-12 col-sm-4 feature-box">
          <img class="img-responsive" src="../images/gift-cards.png" alt="" />
          <h3><span>3.</span> Get your free reward</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="#" class="btn btn-app-store-dark">
            <svg class="btn-icon">
              <use xlink:href="#apple-logo"></use>
            </svg>
            <p class="btn-text">
              <span>Download from</span> <span>Apple App Store</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-light-gray business">
    <div class="container">
      <div class="row-with-space">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <h2>User PocketFlip Business</h2>
          <p class="lead text-muted">Engage your most loyal and enthusiastic users through PocketFlip’s innovative engagement platform.</p>
          <a href="#" class="btn btn-lg btn-primary-outline">Contact us</a>
        </div>
        <div class="business-image">
          <img src="images/business-bg.png" alt="PocketFlip business iphone image" />
        </div>
      </div>
      <div class="row text-muted">
        <div class="col-xs-12 col-sm-4 col-lg-3 feature-box">
          <h3>
            <span class="content-icon">
                <svg class="icon-large">
                  <use xlink:href="#map-pin-icon"></use>
                </svg>
            </span>LocationBased Tasks</h3>
          <p>Run a LocationBased research to get accurate competitor pricing and POS information.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-3 feature-box">
          <h3>
            <span class="content-icon">
                <svg class="icon-large">
                  <use xlink:href="#discussion-icon"></use>
                </svg>
            </span>Market Research</h3>
          <p>Get a feel for the opinion real users have about your product.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 feature-box">
          <h3>
            <span class="content-icon">
                <svg class="icon-large">
                  <use xlink:href="#gift-card-icon"></use>
                </svg>
            </span>Shopping Promotions</h3>
          <p>Promote your product to our members and expand your audience.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-dark-gray connect">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-5">
          <h2>Connect your audience</h2>
          <p class="lead">Everybody loves FREE rewards. Your followers too.</p>
          <p>Present your audience with goodies, which they actually love. They can get them with PocketFlip for FREE and you can be certai: They’ll love your goodies.</p>
          <a href="#" class="btn btn-lg btn-inverted-outline">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</main>
