<header class="landing-header">
  <div class="container">
    <div class="header-title-row">
      <div class="col-xs-12 text-center">
        <h1>Flip Tasks Into Free Rewards</h1>
        <a href="#" class="btn btn-app-store-primary">
          <svg class="btn-icon">
            <use xlink:href="#apple-logo"></use>
          </svg>
          <p class="btn-text">
            <span>Download from</span> <span>Apple App Store</span>
          </p>
        </a>
      </div>
    </div>
    <div class="header-info-row text-center">
      <div class="col-xs-12 col-sm-4 feature-box">
        <img class="img-responsive" src="images/game-feature.png" alt="IMG" />
        <h3>Bump Your Game</h3>
        <p class="">Upgrade your base and buy your favorite game. <strong>Be unstopable.</strong></p>
      </div>
      <div class="col-xs-12 col-sm-4 feature-box">
        <img class="img-responsive" src="images/dream-feature.png" alt="IMG" />
        <h3>Fulfill your dreams</h3>
        <p>Get gift cards and discounts for your favorite shop. <strong>Sweeeeet!!!!</strong></p>
      </div>
      <div class="col-xs-12 col-sm-4 feature-box">
        <img class="img-responsive" src="images/giveaway-feature.png" alt="IMG" />
        <h3>Amazing Giveaways</h3>
        <p>Win top prizes in our regular giveway. May the <strong>luck be with you.</strong></p>
      </div>
    </div>
  </div>
</header>
