

// Landing page header
.landing-header {
    background: $blue-background;
    margin-top: -$navbar-height;
    padding-top: $extra-large-spacing;
    padding-bottom: $extra-large-spacing;
    color: $inverted-color;
}
