
// Generla Section styles
.section {
    padding: $large-spacing 0;
    background: $light-light-gray;

    @media only screen and (min-width: $screen-sm) {
        padding: $section-spacing 0;
    }
}


// Color sections
.section-blue {
    @extend .section;
    background: $blue-background;

    a {
        color: $light-light-gray;
    }
}

.section-light-black {
    @extend.section;
    background: $light-black;

    a {
        color: $light-light-gray;
    }
}

.section-light-gray {
    @extend .section;
    overflow: hidden;
    background: $light-dark-gray-background;
}

.section-dark-gray {
    @extend .section;
    background: $dark-gray;

    h1, h2, h3, h4, h5, h6 {
        color: $inverted-color;
    }

    p {
        color: $inverted-muted-color;
    }
}


// Footer section
.footer-section {
    @extend .section-light-black;

    padding: $medium-spacing 0;
}
