<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All rights reserved</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul class="footer-navigation">
          {% for link in site.data.navigations.footer %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor%}
        </ul>
      </div>
    </div>
  </div>
</footer>
